<div>id <input type="number" [(ngModel)]="contact.id"> </div>
<div>mail <input type="text" [(ngModel)]="contact.mail"> </div>
<div>pass <input type="text" [(ngModel)]="contact.pass"> </div>
<div>nom <input type="text" [(ngModel)]="contact.nom"> </div>
<div>prenom <input type="text" [(ngModel)]="contact.prenom"> </div>
<div>age <input type="number" [(ngModel)]="contact.age"> </div>
<div>adresse <input type="text" [(ngModel)]="contact.adresse"> </div>
<div>telephone <input type="text" [(ngModel)]="contact.telephone"> </div>
<div><button (click)="create()">create</button></div>
<div>{{message}}</div>