<div>min <input type="text" [(ngModel)]="min"></div>
<div>max <input type="text" [(ngModel)]="max"></div>
<div><button (click)="find()">rechercher</button></div>
<table>
    <tr>
        <th>id</th>
        <th>mail</th>
        <th>nom</th>
        <th>prenom</th>
        <th>age</th>
        <th>adresse</th>
        <th>telephone</th>
    </tr>
    <tr *ngFor="let cont of MyList">
        <td>{{cont.id}}</td>
        <td>{{cont.mail}}</td>
        <td>{{cont.nom}}</td>
        <td>{{cont.prenom}}</td>
        <td>{{cont.age}}</td>
        <td>{{cont.adresse}}</td>
        <td>{{cont.telephone}}</td>
    </tr>
</table>