<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body class="container">
    <header>
        <h1>ecommerce</h1>
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" href="/contact/get">contacts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact/getOne">contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact/update">modifier</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact/getAge">par age</a>
            </li>
            <li class="nav-item" *ngIf="!show">
                <a class="nav-link"  href="/contact/Inscription">Inscription</a>
            </li>
            <li class="nav-item" *ngIf="!show">
                <a class="nav-link"  href="/contact/Connexion">Connexion</a>
            </li>
            <li class="nav-item" *ngIf="show">
                <a  class="nav-link" href="/Article/liste">liste Article</a>
            </li>
            <li class="nav-item" *ngIf="show">
                <a class="nav-link"  href="" (click)="deconnexion()">deconnexion</a>
            </li>
        </ul>
    </header>
    <router-outlet></router-outlet>
    
</body>
</html>
